In [1]:
L_ = 85 
H_ = 66 
l_ = 12 
print(f"le cube a pour dimension : la longueur L = {L_} cm et pour la largeur l = {l_} cm et l'hauteur H = {H_} cm ") #simple guillemet vs double ...

le cube a pour dimension : la longueur L = 85 cm et pour la largeur l = 12 cm et l'hauteur H = 66 cm

In [2]:
e = 7**4 # 7 ous 4 ecriture exponentielle
print(e)

2401

In [3]:
457 % 3

1

In [4]:
print("hello \" world \"")
print("hello \' world \'")
print("hello \\ world ")
print("hello \n world ")
print("hello \t world ")

hello " world "
hello ' world '
hello \ world
hello
 world
hello 	 world

In [5]:
print("I\'am a \"student\"")

I'am a "student"

In [6]:
(3+4j)*7j

(-28+21j)

In [7]:
(3-5j)*(5+6j)

(45-7j)

In [8]:
1,00,00

(1, 0, 0)

In [9]:
type(4.5)

float

In [10]:
type(4)

int

In [11]:
type('4')

str

In [12]:
print(type(1j**2))

1j**2

<class 'complex'>

(-1+0j)

In [13]:
import math
print(math.pi)
math.exp(1)

3.141592653589793

2.718281828459045

In [14]:
math.sqrt(89)

9.433981132056603

In [15]:
import random

In [16]:
random.random()

0.9003444825785846

In [17]:
random.choice([2.2,'e',random.choice([4,random.choice([5,363,'morocco']),'dehbi',7]),'RE','kamal'])

2.2

In [18]:
S = 'students'
len(S)

8

In [19]:
S[-3]

'n'

In [20]:
S[2:5]

'ude'

In [21]:
U = 'university'
S + U

'studentsuniversity'

In [22]:
(S + U)[5:15]

'ntsunivers'

In [23]:
a = [1,7,5]
b = [3,2,5]
c = a + b 
print('c =',c)
z = sum(c)
t = int(input('entrer un nbr: ' ))
print('z + t =',z + t)

c = [1, 7, 5, 3, 2, 5]
entrer un nbr: 12
z + t = 35

In [24]:
print(a,b)

[1, 7, 5] [3, 2, 5]

In [25]:
y = int(input(f'entrer u nbr: ',))
type(y)

entrer u nbr: 14

int

In [26]:
len (c)

6

In [27]:
type(c)

list

In [28]:
c = [-45, 6, 0, 72, 1543]

print(len (c))
print(c[0])
print(c[-1])
print(c[4])
sum(c)

5
-45
1543
1543

1576

In [29]:
type(c[4])

int

In [30]:
c[:-1] #Retire le dernier élément de la liste

[-45, 6, 0, 72]

In [31]:
type(True) #Same thing with False ! MAJ_important !

bool

In [32]:
list(('1',2,"2",4))

['1', 2, '2', 4]

In [33]:
p = list(('k','a',"m",'a','l'))

In [34]:
chaine = ''
print(chaine.join(p)) #or print(''.join(p))

kamal

In [35]:
print("_".join(p))

k_a_m_a_l

In [36]:
col = list(('rouge','bleu',"marron",'noir','blanc'))
print(", ".join(col))

rouge, bleu, marron, noir, blanc

In [37]:
print(sum(range(0,-9,-2))) #range(début(optionnel), fin, incrémentation(optionnel))

-20

In [38]:
p.append(4) #Ajouter un nouvel élément à la fin d'une liste.
print(p)

['k', 'a', 'm', 'a', 'l', 4]

In [39]:
p.insert(0,'_7') #Ajouter un nouvel élément dans une liste à une position spécifique
print(p)

['_7', 'k', 'a', 'm', 'a', 'l', 4]

In [40]:
p.remove('_7') #Supprimer un élément d'une liste
print(p)

['k', 'a', 'm', 'a', 'l', 4]

In [41]:
p.remove(4) 
print(p)

['k', 'a', 'm', 'a', 'l']

In [42]:
o = p.copy() # Copier une liste.
print('o = ',o)

o =  ['k', 'a', 'm', 'a', 'l']

In [43]:
print(p)
p.pop()   # Supprimer l'index spécifié. Si vous ne spécifiez pas l'index, la méthode pop() supprime le dernier élément.
print(p)

['k', 'a', 'm', 'a', 'l']
['k', 'a', 'm', 'a']

In [44]:
p.append('l')   
print(p)
p.pop(4)
print(p)

['k', 'a', 'm', 'a', 'l']
['k', 'a', 'm', 'a']

In [45]:
p.clear() #La function clear() vide la liste. La liste reste, mais elle n'a pas de contenu
print('p =',p)

p = []

In [46]:
r = [ 4, -788, 334, 8, 96,96,96 ]
r.sort() #Trier la liste par ordre alphanumérique, croissant, par défaut.
print(r)

[-788, 4, 8, 96, 96, 96, 334]

In [47]:
r.reverse() # Inverser l'ordre de la liste.
print(r)

[334, 96, 96, 96, 8, 4, -788]

In [48]:
r.count(96) #Renvoyer le nombre d'éléments avec la valeur spécifiée.

3

In [49]:
a = zip(r) # Zip() Créer un itérateur de tuples en mappant des éléments à partir de données specifiques (int, str, float, list, etc.) en fonction de leurs numéros d'index. Utilisation: zip(premier_itérateur, deuxième_iterateur, …)
print(a)
r.index(8) # Index() Renvoie l'index des premiers éléments avec la valeur spécifiée.r = [334, 96, 96, 96, 8, 4, -788]

<zip object at 0x0000019D71E2A680>

4

In [50]:
 liste = [41, 85, 11, 31, 74]
 liste.sort()
print(liste)

[11, 31, 41, 74, 85]

In [51]:
liste.append(12)
print(liste)

[11, 31, 41, 74, 85, 12]

In [52]:
liste.reverse()
print(liste)

[12, 85, 74, 41, 31, 11]

In [53]:
liste.index(74)

2

In [54]:
liste.remove(41)
print(liste)

[12, 85, 74, 31, 11]

In [55]:
liste[1:3]

[85, 74]

In [56]:
liste[0:1]

[12]

In [57]:
liste[0:-3]

[12, 85]

In [58]:
po = [4,5,6,8]
th = zip(liste, po)
print(th)

<zip object at 0x0000019D71EB4A00>

In [59]:
student_tuple = ('red', 'snake', 18.3, 'green', 'cat', 5)
new_tuple = ('A',) + student_tuple[1:]
new_tuple

('A', 'snake', 18.3, 'green', 'cat', 5)

In [60]:
colors = set(('red', 'yellow', 'blue','red','black' ,'white'))
colors

{'black', 'blue', 'red', 'white', 'yellow'}

In [61]:
len(colors)

5

In [62]:
'red' in colors

True

In [63]:
'purple'in colors

False

In [64]:
for color in colors:
    print(color.lower(), end ='_') #upper MAJ / lower mini

blue_black_white_yellow_red_

In [65]:
q = [1, 2, 3, 4, 5, 6, 6, 7, 8, 0, 5, 4] 
d = set(q)
g = zip(q,d)
print(g)
set(g)

<zip object at 0x0000019D71EBD580>

{(1, 0), (2, 1), (3, 2), (4, 3), (5, 4), (6, 5), (6, 6), (7, 7), (8, 8)}

In [66]:
{1, 2, 3} | {5,2,6} # or {1, 2, 3}.union({5,2,6})

{1, 2, 3, 5, 6}

In [67]:
{1, 2, 3} & {5,2,6} # or {1, 2, 3}.intersection({5,2,6})
{1, 2, 3}.intersection({5,2,1})

{1, 2}

In [68]:
{1, 2, 3} - {5,2,6} #un ensemble composé des éléments de l‘ensemble de gauche qui ne sont pas présents dansl'opérande (l’itérable) de droite.

{1, 3}

In [69]:
print({5,2,6} - {1,2,3})    # or {5,2,6}.difference({1, 2, 3})

{5,2,6,7}.difference({1,2,3,9})

{5, 6}

{5, 6, 7}

In [70]:
ji = {5,2,6,7}
jp = {1,2,3,9}
print('ji =',ji)
print('jp =',jp)
ji.difference_update(jp) # la fonction difference_update()supprime les éléments indésirables de l'ensemble d'origine.
print('ji\' =',ji)

ji = {2, 5, 6, 7}
jp = {1, 2, 3, 9}
ji' = {5, 6, 7}

In [71]:
ti = {7, 8, 9, 3, 6}

tp = {7, 9, 1, 3, 5}

print('ti =',ti)

print('tp =',tp)

print('ti ^ tp =',ti ^ tp )#La différence symétrique entre deux ensembles est un ensemble
                            #composé des éléments des deux ensembles (ou un ensemble avec un
                            #autre itérable) qui ne sont pas en commun (opposé de l’intersection).
                            #Vous pouvez calculer la différence symétrique avec l'opérateur ^ ou en
                            #utilisant la méthode symmetric_difference du type d'ensemble
                
print('ti ^ tp =',ti.symmetric_difference(tp))

ti = {3, 6, 7, 8, 9}
tp = {1, 3, 5, 7, 9}
ti ^ tp = {1, 5, 6, 8}
ti ^ tp = {1, 5, 6, 8}

In [72]:
ti.isdisjoint(tp) # Deux ensembles sont disjoints s'ils n'ont pas d'éléments communs.

False

In [73]:
{1, 5 , 6}.isdisjoint({4,9,7})

True

In [74]:
numbers = {1 , 8 ,'_'}
numbers.update(range(10)) #update() mets à jour l'ensemble actuel en y ajoutant des éléments provenant d'un autre ensemble
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, '_'}

In [75]:
numbers.add(77)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 77, 8, 9, '_'}

In [76]:
numbers.remove(77)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, '_'}

In [77]:
numbers.pop()
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, '_'}

In [78]:
numbers.clear()
numbers

set()

In [79]:
a = set(range(10))
print(a)
a.pop()
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
set_colors = {"Yellow" , "Orange", "Black"}
list_animals = ["chat", "chien","cheval"]
set_colors.update(list_animals)
set_colors

{'Black', 'Orange', 'Yellow', 'chat', 'cheval', 'chien'}

In [81]:
a = {10, 20, 30, 40, 50}
b = {30, 40, 50, 60, 70}
print(a & b) 
print(a | b)
print(a.difference_update(b))
print(a)

{40, 50, 30}
{70, 40, 10, 50, 20, 60, 30}
None
{10, 20}

In [82]:
a = {10, 20, 30, 40, 50}
a.difference_update([10, 20, 30])

In [83]:
a^b

{30, 60, 70}

In [84]:
x = list(range(6,20,2))
print(x)
print(len(x))
y = tuple(range(100,137,6))
print(y)
print(len(y))

[6, 8, 10, 12, 14, 16, 18]
7
(100, 106, 112, 118, 124, 130, 136)
7

In [85]:
z = { 5 , 7 , 323 , 124 , 132, 13}
print(len(z))

6

In [86]:
z.intersection(x,y)

set()

In [87]:
z.difference(x,y)

{5, 7, 13, 132, 323}

In [88]:
z.difference(y)

{5, 7, 13, 132, 323}

In [89]:
z.difference(x)

{5, 7, 13, 124, 132, 323}

In [90]:
print(z.union(x,y))
print(len(z.union(x,y)))

{130, 323, 132, 5, 6, 7, 8, 136, 10, 12, 13, 14, 16, 18, 100, 106, 112, 118, 124}
19

In [91]:
z.difference_update(x,y)
z

{5, 7, 13, 132, 323}

In [92]:
d = list(zip(z,x,y))
d

[(323, 6, 100), (132, 8, 106), (5, 10, 112), (7, 12, 118), (13, 14, 124)]

In [93]:
N = d[1][1]

In [94]:
M = d[2][2]

In [95]:
N*5 + M**4

157351976

In [96]:
#dictionnaire
D = dict()
D ['un'] = 'uno'
D [('chat','chien')] = 'animaux'
D

{'un': 'uno', ('chat', 'chien'): 'animaux'}

In [97]:
T = {'Finland':'fi','South Africa':'za','Nepal':'np'}

In [98]:
print(len(T))
T

3

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [99]:
T['Finland']

'fi'

In [100]:
nouvelle_formation = {
    
"responsable": "Jeanne d'Arc",
    
"nom_de_formation": "Qualité",
    
"date_de_début": "01/04/2023",
    
"Normes_imporatantes": ["iso9001","iso14001","iso9004"]
    
}

print(nouvelle_formation["nom_de_formation"]) #or nouvelle_formation["nom_de_formation"] out : 'Qualité'

Qualité

In [101]:
nouvelle_formation["durée"] = "3 mois"

In [102]:
nouvelle_formation

{'responsable': "Jeanne d'Arc",
 'nom_de_formation': 'Qualité',
 'date_de_début': '01/04/2023',
 'Normes_imporatantes': ['iso9001', 'iso14001', 'iso9004'],
 'durée': '3 mois'}

In [103]:
del nouvelle_formation["responsable"] #supprimer une paire clé_valeur
nouvelle_formation

{'nom_de_formation': 'Qualité',
 'date_de_début': '01/04/2023',
 'Normes_imporatantes': ['iso9001', 'iso14001', 'iso9004'],
 'durée': '3 mois'}

In [104]:
nouvelle_formation.pop("date_de_début") #supprimez la clé-valeur 'date_de_début': 01/04/2023

'01/04/2023'

In [105]:
nouvelle_formation

{'nom_de_formation': 'Qualité',
 'Normes_imporatantes': ['iso9001', 'iso14001', 'iso9004'],
 'durée': '3 mois'}

In [106]:
'durée' in nouvelle_formation

True

In [107]:
G = {'âge' : 22, 'statut': 'étudiant', 'Année' : 2023}
E = dict()

In [108]:
G

{'âge': 22, 'statut': 'étudiant', 'Année': 2023}

In [109]:
 E['âge'] = 33
E['statut'] = 'ingenieur'
E['Année'] = 2030

In [110]:
E

{'âge': 33, 'statut': 'ingenieur', 'Année': 2030}

In [112]:
di = dict()
di['inventory code'] = (1,2,3)
di

{'inventory code': (1, 2, 3)}

In [121]:
do = {**nouvelle_formation,**E} #fusionner pls dictionnaire 
do

{'nom_de_formation': 'Qualité',
 'Normes_imporatantes': ['iso9001', 'iso14001', 'iso9004'],
 'durée': '3 mois',
 'âge': 33,
 'statut': 'ingenieur',
 'Année': 2030}

In [139]:
ali = dict(name = 'ali', age = 18 , adress = 'rabat') #Création d'un dictionnaire à l'aide d'arguments de mots clés
ali

{'name': 'ali', 'age': 18, 'adress': 'rabat'}

In [155]:
ghita = dict([('name','ghita'), ('age',23)], adress = 'casablanca' )#Créer un dictionnaire à l'aide d'itérables (listes)
ghita

{'name': 'ghita', 'age': 23, 'adress': 'casablanca'}

In [240]:
main_dict = {'red': 1, 'yellow': 2, 'green': 3}

dict_deep = dict(main_dict)

dict_shallow = main_dict

dict_shallow['red'] = 10

print("After change in shallow copy, main_dict:", main_dict) # print("After change in shallow copy, main dict:", main_dict)

After change in shallow copy, main_dict: {'red': 10, 'yellow': 2, 'green': 3}

In [160]:
dict_deep['yellow'] = 20

print("After change in deep copy, main dict: ", main_dict) ## la modification de la valeur en copie profonde n'affectera pas #La première version main dict

After change in deep copy, main dict:  {'red': 10, 'yellow': 2, 'green': 3}

In [161]:
D= dict() # créer un dictionnaire

print('D =',D) # représente un dictionnaire vide

D ['one'] = 'uno' #Cette ligne crée un élément qui mappe de la clé 'un' à la valeur 'uno'

print('D =', D) # D présente une paire clé-valeur avec deux-points entre la clé et la valeur

N = {"food" : "Spam", 'quantity': 4, 'color': 'pink' } # créer un nouveau dictinnaire

print('N[\'food\'] = ',N['food']) # Récupérer la valeur de la clé 'nourriture'

N['quantity'] += 1 # # Ajouter 1 à la valeur 'quantité'

print(N)

D = {}
D = {'one': 'uno'}
N['food'] =  Spam
{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

In [190]:
d_ex_m1= dict(âge = 22, statut = 'étudiant', Année = 2023)
print('d_ex_m1 =',d_ex_m1)

d_ex_m2 = {'âge' : 22, 'statut':'étudiant', 'Année' : 2023}
print('\nd_ex_m2 =',d_ex_m2)

d_ex_m3 = dict((('âge',22),('statut','étudiant')), Année = 2023)
print('\nd_ex_m3 =',d_ex_m3)

d_ex_m4 = dict((('âge',22),('statut','étudiant'),('Année',2023)))
print('\nd_ex_m4 =',d_ex_m4)

d_ex_m1 = {'âge': 22, 'statut': 'étudiant', 'Année': 2023}

d_ex_m2 = {'âge': 22, 'statut': 'étudiant', 'Année': 2023}

d_ex_m3 = {'âge': 22, 'statut': 'étudiant', 'Année': 2023}

d_ex_m4 = {'âge': 22, 'statut': 'étudiant', 'Année': 2023}

In [215]:
dataset = {'name' : { 'first' : 'Ali','last' : 'Bennani'}, 'job' : ['student','developper'], 'age' :  22}
print(dataset['name'])
print(dataset['name']['last'])
print(dataset['job'])
print(dataset['job'][1])
dataset['job'].append('musician')
dataset

{'first': 'Ali', 'last': 'Bennani'}
Bennani
['student', 'developper']
developper

{'name': {'first': 'Ali', 'last': 'Bennani'},
 'job': ['student', 'developper', 'musician'],
 'age': 22}

In [281]:
mon_dict = {'lait': '101', 'pates': '5 KG', 'Thon': '5 boites'}
mon_dict.values() #• values() - Pour obtenir la liste des valeurs d'un dictionnaire.

dict_values(['101', '5 KG', '5 boites'])

In [282]:
mon_dict.keys()   #• keys() - Pour obtenir la liste des clés d'un dictionnaire.

dict_keys(['lait', 'pates', 'Thon'])

In [283]:
mon_dict.items()  #• items() - Pour obtenir la liste des paires (clé, valeur) d'un dictionnaire.

dict_items([('lait', '101'), ('pates', '5 KG'), ('Thon', '5 boites')])

In [284]:
mon_dict.pop('lait') #• pop(key) - Pour supprimer un élément du dictionnaire.
mon_dict

{'pates': '5 KG', 'Thon': '5 boites'}

In [285]:
new_dict = mon_dict.copy()  #• copy() - Pour copier le dictionnaire (comme pour les listes).
new_dict

{'pates': '5 KG', 'Thon': '5 boites'}

In [286]:
zipped = zip(new_dict,mon_dict) #• zip(iterable1, iterable2, …) - Pour combiner deux données en un dictionnaire.
print(set(zipped))

{('Thon', 'Thon'), ('pates', 'pates')}

In [287]:
new_dict.get('pates')   #• get(key) -Renvoie la valeur de la clé spécifiée.

'5 KG'

In [288]:
d3 = { 'marque': 'zara','taille':'M',}
d3.update(new_dict)  #• update() - Met à jour le dictionnaire avec les paires clé-valeur spécifiées
d3

{'marque': 'zara', 'taille': 'M', 'pates': '5 KG', 'Thon': '5 boites'}

In [289]:
d3.popitem()    #• popitem() Supprime la dernière paire clé-valeur insérée
d3              # le couple ('Thon': '5 boites') sera supprimé

{'marque': 'zara', 'taille': 'M', 'pates': '5 KG'}

In [290]:
sorted(d3)      # •Sorted()- La méthode sorted() trie les données itérables telles que les listes
                # ,les tuples et les dictionnaires. Mais elle trie uniquement par clé.
                #  Mais elle trie uniquement par clé. 
                #  La méthode sorted() place les éléments triés dans une liste.

['marque', 'pates', 'taille']

In [294]:
d4 = dict()

d4.fromkeys( ( ('name'),('nom'),('isme') ),'kamal' )     #• Fromkeys()- crée un dictionnaire 
                                                        #à partir de la séquence donnée de clés et de valeurs. 
                                                        #Syntax: dict.fromkeys(keys, values)

{'name': 'kamal', 'nom': 'kamal', 'isme': 'kamal'}

In [305]:
set(d3.keys())

{'marque', 'pates', 'taille'}

In [302]:
tuple(d3.values())

('zara', 'M', '5 KG')

In [309]:
d3 != mon_dict

True

In [310]:
d3 == mon_dict

False

In [324]:
notes_des_étudiants = {'Ali': [15, 12, 19], 'Ghita': [20, 17, 16.5], 'Nour': [14, 15, 16], 'Ahmed': [9, 19, 17] } 

moyennes = { k : sum(v)/len(v) for k, v in notes_des_étudiants.items()}

print('moyennes = ',moyennes)

moyennes =  {'Ali': 15.333333333333334, 'Ghita': 17.833333333333332, 'Nour': 15.0, 'Ahmed': 15.0}

In [371]:
dict1 = {'ordinateur': 10, 'Table': 20, 'stylo': 30} 
dict2 = {'Tableau': 4, 'chaise': [6, 1, 5], 'rideau': 7}
dictmerged= dict(**dict1,**dict2)
print(dictmerged)

{'ordinateur': 10, 'Table': 20, 'stylo': 30, 'Tableau': 4, 'chaise': [6, 1, 5], 'rideau': 7}

In [372]:
dictmerged.pop('stylo')

30

In [373]:
dictmerged.pop('Tableau')

4

In [374]:
'chaise' in dictmerged

True

In [375]:
dictmerged['bureau'] = dictmerged.pop('chaise') # remplacer la cle'chaise' par 'bureau'
dictmerged

{'ordinateur': 10, 'Table': 20, 'rideau': 7, 'bureau': [6, 1, 5]}

In [377]:
materiaux = list(dictmerged.keys())
materiaux

['ordinateur', 'Table', 'rideau', 'bureau']

In [378]:
quantité = list(dictmerged.values())
quantité

[10, 20, 7, [6, 1, 5]]

In [380]:
dictT1 = {k : v for k, v in dictmerged.items()}
dictT1

{'ordinateur': 10, 'Table': 20, 'rideau': 7, 'bureau': [6, 1, 5]}

In [383]:
dictT2 = dictmerged.fromkeys(materiaux,quantité)
dictT2

{'ordinateur': [10, 20, 7, [6, 1, 5]],
 'Table': [10, 20, 7, [6, 1, 5]],
 'rideau': [10, 20, 7, [6, 1, 5]],
 'bureau': [10, 20, 7, [6, 1, 5]]}

In [397]:
nombres = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
nombres.sort()
print(nombres)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [399]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_numbers = sorted(numbers)
print (sorted_numbers) 
print(numbers)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

In [431]:
print(ord('N'))
print(ord('n'))
'new' > 'NEW'

78
110

True

In [437]:
dictionnaire = {'bois': 2, 'fer': 1, 'aluminium': 3}

print("Les 'clés' ordonnées du dictionnaires selon la longueur du clés : ", sorted(dictionnaire.keys(),key = len))

Les 'clés' ordonnées du dictionnaires selon la longueur du clés :  ['fer', 'bois', 'aluminium']

In [11]:
name = str(input("what's your name :\n"))

what's your name :
kamal dehbi

In [42]:
a = 10 
b = 14 
while a < b :
    a+=1
    print(a)

11
12
13
14

In [43]:
c = 3
for i in range(0,5,1):
    print(c)
    c*=11

3
33
363
3993
43923

In [45]:
a = ['ahmed', 'omar', 'ghita', 'ines']

b = input('Entrer votre nom : ')

if b in a :
    print('Votre nom est dans cette classe.')

else :
    print('Votre nom n\'est pas dans cette classe.')

Entrer votre nom : omar
Votre nom est dans cette classe.

In [47]:
for i in 'python':
    print(i.upper(),end ='_')

P_Y_T_H_O_N_

In [41]:
H = ['rouge','noir','blanc']

K = 'Python'

print(' '.join(H))

print('\n')

print(''.join(K))

print('\n')

for i in H:
    print(i.upper())

for i in K:
    print(i.upper())

rouge noir blanc


Python


ROUGE
NOIR
BLANC
P
Y
T
H
O
N

In [57]:
lm = int(input('entrer un nbr : '))
while lm <= 50:
    print(lm)
    lm*=3

entrer un nbr : 3
3
9
27

In [62]:
lp = [12, 8, -4, 9.3, 0]
summ = 0
for i in lp:
    summ += i
summ

25.3

In [63]:
b= [(1, 2), (3, 4), (5, 6)]
for i in b :
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [76]:
D = {'a': 1, 'b': 2, 'c': 3}

for i,j in D.items(): 
    print(i,'=>',j)

a => 1
b => 2
c => 3

In [2]:
za = 1
while za <= 10: 
    print('6 *',za,'=',6*za)
    if za >= 5 :
        break
    za = za + 1

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30

In [13]:
My_list = list()
for i in range(10):
    if i == 7:
        continue # continue permet de passer la partie d’une boucle
    else :
        My_list.append(i)
print(My_list)

[0, 1, 2, 3, 4, 5, 6, 8, 9]

In [16]:
my_list = list()

for i in range(10):
    if i == 7:
        break   # break permet de quitter immédiatement une boucle
    else:
        my_list.append(i)

print(my_list)

[0, 1, 2, 3, 4, 5, 6]

In [1]:
nt = 0 
while nt < 10 :
    nt += 1
    if (nt % 2) == 0 : #  or == pour nbr impaire
        continue
    print(nt)

1
3
5
7
9

In [24]:
x= ["aaa", 111, (4, 5), 2.01] 

y = [(4, 5), 3.14] 

for i in y :
    for j in x :
        if i == j :
            print(i,'element trouvé')
            break
    else :
        print(i,'element non trouvé')

(4, 5) element trouvé
3.14 element non trouvé

In [35]:
a = 1
t=[]
b = [1]
while a < 20 :
    a+=1
    for i in range(1,a):
        if a%i==0:
            t.append(i)
    if t!=b:
        print (a, "n'est pas premier et ses diviseurs sont : ",t)
    else:
        print (a, 'est premier')
    t=[]

2 est premier
3 est premier
4 n'est pas premier et ses diviseurs sont :  [1, 2]
5 est premier
6 n'est pas premier et ses diviseurs sont :  [1, 2, 3]
7 est premier
8 n'est pas premier et ses diviseurs sont :  [1, 2, 4]
9 n'est pas premier et ses diviseurs sont :  [1, 3]
10 n'est pas premier et ses diviseurs sont :  [1, 2, 5]
11 est premier
12 n'est pas premier et ses diviseurs sont :  [1, 2, 3, 4, 6]
13 est premier
14 n'est pas premier et ses diviseurs sont :  [1, 2, 7]
15 n'est pas premier et ses diviseurs sont :  [1, 3, 5]
16 n'est pas premier et ses diviseurs sont :  [1, 2, 4, 8]
17 est premier
18 n'est pas premier et ses diviseurs sont :  [1, 2, 3, 6, 9]
19 est premier
20 n'est pas premier et ses diviseurs sont :  [1, 2, 4, 5, 10]

In [8]:
n = 0
mdp = ""
print('Vous avez que 4 essais !')
while (mdp != '1234') & (n < 3):
    mdp = input('Entrer votre mot de passe : ')
    if mdp == '1234':
        print('Accès accordé !')
        break
    elif mdp != '1234':
        print('Accés refusé !')
        n += 1
if(n == 3):
    print('Ressayer plutard !')

Vous avez que 4 essais !
Entrer votre mot de passe : 14594
Accés refusé !
Entrer votre mot de passe : 2557
Accés refusé !
Entrer votre mot de passe : 11452
Accés refusé !
Ressayer plutard !

In [11]:
tlm = 8 
if not tlm == 15 :
    print('b',tlm)

b 8

In [20]:
votes = [
{"nom": "Ali",   "age": 68},
{"nom": "Ghita", "age": 15},
{"nom": "Sam",   "age": 32},
{"nom": "Dina",  "age": 19}, 
{"nom": "Lilya", "age": 11}]
for i in votes:
    nom = i["nom"]
    age = i["age"]
    if (age > 16) & (age < 65) :
        print(nom,'peut voter')
    else :
        print(nom,' ne peut pas voter')

Ali  ne peut pas voter
Ghita  ne peut pas voter
Sam peut voter
Dina peut voter
Lilya  ne peut pas voter

In [32]:
tgg = [{5 :'cinq', 6 : 'six', 10 : 'dix'}, False, 1000, 11.23, 1+2j, True, 'hello'
'Python', (0, -1), [5, 12], {" Ali ! ", " GHITA " } ]
for i in tgg:
       print('Type of ',i," => ",type(i))

Type of  {5: 'cinq', 6: 'six', 10: 'dix'}  =>  <class 'dict'>
Type of  False  =>  <class 'bool'>
Type of  1000  =>  <class 'int'>
Type of  11.23  =>  <class 'float'>
Type of  (1+2j)  =>  <class 'complex'>
Type of  True  =>  <class 'bool'>
Type of  helloPython  =>  <class 'str'>
Type of  (0, -1)  =>  <class 'tuple'>
Type of  [5, 12]  =>  <class 'list'>
Type of  {' Ali ! ', ' GHITA '}  =>  <class 'set'>

In [35]:
ab = [10, 20, 30]
ba = [11, 22, 33]
c = ab + ba
c

[10, 20, 30, 11, 22, 33]

In [51]:
for i in range(len(c)):
    print(f'{i} : {c[i]}',end = '\n')

0 : 10
1 : 20
2 : 30
3 : 11
4 : 22
5 : 33

In [54]:
list(enumerate(c))

[(0, 10), (1, 20), (2, 30), (3, 11), (4, 22), (5, 33)]

In [83]:
numb = (2, 6, 15, 19, 8)

print(list(enumerate(numb)),'\n')

print('Creating a bar chart from numbers:') 

print(f'Index{"Value":>8} Bar')


for index, value in enumerate(numb):
    print(f'{index:>5}{value:>8} {"*" * value}')

[(0, 2), (1, 6), (2, 15), (3, 19), (4, 8)]

Creating a bar chart from numbers:
Index   Value Bar
    0       2 **
    1       6 ******
    2      15 ***************
    3      19 *******************
    4       8 ********

In [4]:
amis = []

print(type (amis))

nom = input("Entrer un nom d'ami ou fin: ")
while (nom  != "fin"):
    amis.append(nom)
    amis.sort()
    print(amis)
    nom = input("Entrer un nom d'ami ou fin: ")

<class 'list'>
Entrer un nom d'ami ou fin: kamal
['kamal ']
Entrer un nom d'ami ou fin: anas
['anas', 'kamal ']
Entrer un nom d'ami ou fin: omar
['anas', 'kamal ', 'omar']
Entrer un nom d'ami ou fin: ghita
['anas', 'ghita', 'kamal ', 'omar']
Entrer un nom d'ami ou fin: fin

In [16]:
import math 
k = float(input('Entrer un nbr : '))
if k < 0 :
    print('k est negatif.')
elif k == 0 :
    print(f'{k} est neutre et sa racine = 0')
else :
    L = math.sqrt(k)
    print(f'{k:.2f} est positif et sa racine = {L:.2f}') #L:.2f arrondi 2 chiffres après la virgule

Entrer un nbr : 2582
2582.00 est positif et sa racine = 50.81

In [21]:
def welcome():
    print('welcom to the world')
welcome()

welcom to the world

In [44]:
def som(nm1,nm2):
    """document de la fonction"""
    som = nm1 + nm2
    print(f'la somme de \'{nm1}\' et \'{nm2}\' et égal a \'{som}\'')
    #return som optionel dans ce cas

In [45]:
som(9.663,-5)

la somme de '9.663' et '-5' et égal a '4.663'

In [41]:
def surface(L,l):
    return L*l
surface(15,5)

75

In [63]:
def union(a,b):
    return list(set(a) | set(b)) #same for intersection 
a = {1,3,5,9,7}
b = {5,9,6,3,4}

In [64]:
print(union(a,b))

[1, 3, 4, 5, 6, 7, 9]

In [86]:
def reverse(chaine):
    new_chaine = list(chaine) # new_chaine = chaine[::-1]
    new_chaine.reverse() #return new_chaine
    return print("".join(new_chaine))

In [87]:
reverse('kamal dehbi')

ibhed lamak

In [92]:
def print_names(names):
    for i, nom in enumerate(names, start=1):
        print(f"Index {i}: {nom}")
liste = ["Ghita", "Ali", "Saas", "Dina"] 
print_names(liste)

Index 1: Ghita
Index 2: Ali
Index 3: Saas
Index 4: Dina

In [108]:
def count_unique_elements(l):
    D = dict()
    for i in range(0,len(l)):
        D[l[i]] = l.count(l[i])
    return D

In [109]:
l = [1,2,3,4,1,2,5,3,2,1,5,2,8,0,3]
print(len(l))
count_unique_elements(l)

15

{1: 3, 2: 4, 3: 3, 4: 1, 5: 2, 8: 1, 0: 1}